:root {
  --color-primary: #f9ed69;
  --color-secondary: #f08a5d;
  --color-tertiary: #b83b5e;
  --color-dark: #2d4059;
  --color-light: #f4f4f4;
  --color-white: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);
  --line: 1px solid #777;
  --radius: 3px;
  --radius-big: 5px;
  --radius-round: 50%;
  --transition: all 0.2s ease-in-out;
  --transition-slow: all 0.4s ease-in-out;
  --transition-fast: all 0.1s ease-in-out;
  --transition-cubic: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  --transition-cubic-slow: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  --transition-cubic-fast: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  --transition-bounce: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --transition-bounce-slow: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --transition-bounce-fast: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --transition-elastic: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transition-elastic-slow: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transition-elastic-fast: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --line: 1px var(--color-dark) solid; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-dark);
  padding: 3rem;
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary));
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin-left: 3rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-light);
    border: none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 100%;
    margin-right: -3rem; }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-dark); }
  .search__button {
    border: none;
    background-color: var(--color-light); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary); }

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: max-content; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-dark); }
  .user-nav__icon-box {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center; }
    .user-nav__icon-box:hover {
      background-color: white; }
  .user-nav__notification {
    position: absolute;
    border-radius: 100rem;
    background-color: var(--color-tertiary);
    color: var(--color-white);
    height: 1.75rem;
    width: 1.75rem;
    right: 1rem;
    top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user {
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav__user:hover {
      background-color: white; }
  .user-nav__user-photo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    display: flex;
    align-items: center;
    justify-content: center; }
  .side-nav__link:visited, .side-nav__link:link {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    color: var(--color-grey-dark-2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .side-nav__icon {
    width: 2.75rem;
    height: 2.75rem;
    margin-right: 2rem; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-grey-light-2);
  margin-bottom: 2rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px var(--color-dark) solid; }
  .overview__heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__location {
    display: flex;
    align-items: center;
    margin-right: 2rem; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__rating {
    background-color: var(--color-primary);
    align-self: stretch;
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .overview__rating:hover {
      cursor: pointer;
      background-color: green; }
  .overview__rating-average {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: .5rem; }
  .overview__rating-count {
    font-size: 1.0rem;
    font-weight: 400; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  padding: 2px;
  display: inline-block; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }

.paragraph:not(:last-child) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: var(--line);
  border-bottom: var(--line); }
  .list__item {
    flex: 0 0 50%;
    display: flex;
    margin-bottom: .7rem;
    align-items: center; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: var(--color-primary);
    --webkit-mask: url(../img/cheveron-right.svg) no-repeat center;
    mask: url(../img/cheveron-right.svg) no-repeat center;
    margin-right: 1rem;
    mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-2);
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between; }
  .recommend__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 100px;
    border: 2px solid white; }
    .recommend__photo:not(:last-child) {
      margin-right: -1rem; }

.review {
  background-color: var(--color-light);
  padding: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  position: relative; }
  .review__text {
    margin-bottom: 2rem;
    z-index: 2; }
  .review__user {
    display: flex;
    align-items: center;
    margin-bottom: 2rem; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 2rem; }
  .review__user-box {
    display: flex;
    flex-direction: column;
    margin-right: auto; }
  .review__user-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem; }
  .review__user-date {
    margin-right: 2rem;
    color: var(--color-grey-dark-2); }
  .review__rating {
    margin-left: auto;
    font-size: 2rem;
    color: var(--color-primary); }
  .review::before {
    content: "\201C";
    font-size: 20rem;
    position: absolute;
    color: rgba(0, 0, 0, 0.2);
    top: -6rem;
    left: 0; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  .cta__book-now {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300; }

.btn-visible {
  display: inline-block;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)); }
  .btn-visible:hover {
    cursor: pointer; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-light);
  box-shadow: var(--shadow-dark); }

.header {
  height: 7rem;
  background-color: var(--color-primary);
  border-bottom: 1px var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-secondary);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.detail {
  font-size: 1.4rem;
  display: flex;
  height: 10rem;
  padding: 4.5rem;
  height: max-content;
  justify-content: center; }

.description {
  margin-right: 3rem;
  background-color: white;
  flex: 0 0 60%;
  box-shadow: var(--shadow-light);
  padding: 2rem; }

.user-reviews {
  flex: 0 0 40%;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }
